#content1{
	position: absolute;
	top: 6%;
	width: 100%;
	height: 5%;
}
.content1_child{
	position: absolute;
	height: 100%;
	width: 49.6%;
	font-size: 1vw;
}
.con1_left{
	left: 0px;
}
.con1_right{
	right: 0px;
}
.con1_al_div{
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
.con1_p_left{
	position: absolute;
	top: 0px;
	left: 4%;
}
.con1_p_right{
	position: absolute;
	top: 0px;
	right: 4%;
}