#content_main_info_header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5%;
	background-color: black;
	color: white;
	font-size: 1vw;
}
#content_main_info_footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5%;
	background-color: black;
}
.content_main_info_header_text_al{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0px;
	bottom: 0px;
	margin-bottom: auto;
	margin-top: auto;
}
.content_main_info_header_text_al p {
	padding-left: 1%;
}