body{
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif;
}
button, input[type="submit"], input[type="button"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.nav_bar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10%;
	background: black;
}
#poslovi{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20%;
	background-color: white;
	border-right: 1px solid white;
}
#banke{
	position: absolute;
	top: 0px;
	left: 20%;
	height: 100%;
	width: 20%;
	background-color: black;
	color: white;
	border-right: 1px solid white;
	cursor: pointer;
}
#banke a{
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.text_holder{
	position: absolute;
	height: 20%;
	width: 100%;
	text-align: center;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.text_holder h3{
	padding-top: 0px;
	margin: 0px;
	cursor: pointer;
}
.nav_bar_text{
	color: black;
}
#main_table{
	position: absolute;
	left: 2%;
	top: 14%;
	height: 79%;
	width: 30%;
}
#main_table_header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8.5%;
	text-align: center;
	border-collapse: collapse;

}
#main_table_header tr{
	background-color: black;
	color: white;
}
#main_table_header th {
  text-align: center;
}
#main_table_container{
	position: absolute;
	top: 8.5%;
	width: 100%;
	height: 92%;
	overflow-y: auto;
}
#main_table_container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#main_table_container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
#main_table_container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#main_table_container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#main_table_container_child{
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}
#main_table_container_child td {
  border: 1px solid #dddddd;
  text-align: center;
  height: 30px;
}
.table_rows{
	cursor: pointer;
	background-color: white;
}
/*-------------------------*/
#container{
	position: absolute;
	top: 14%;
	left: 34%;
	width: 64%;
	height: 77%;
}
#basic_info{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 8%;
	background-color: black;
	color: white;
}
#basic_info h2{
	font-size: 18px;
	padding-left: 2%;
}
#container_child{
	position: absolute;
	top: 8%;
	left: 0px;
	width: 100%;
	height: 17%;
}
#con_child_left{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1%;
	height: 60%;
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 2vh;
}
#con_child_right{
	position: absolute;
	top: 5%;
	bottom: 0px;
	right: 1%;
	width: 29%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: auto;
	margin-bottom: auto;
}
#con_child_provajder_table{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 100%;
	padding-right: 3%;
	text-align: right;
	font-size: 2vh;
	overflow-y: auto;
}
#con_child_provajder_table_child{
	width: 100%;
	font-size: 2vh;	
	table-layout: fixed;
	text-align: center;
}
#con_child_provajder_table_child td{
    width: 25%;
}
.provajderi_table_button{
	background-color: black;
	color: white;
}
#con_child_provajder p{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
#container_child p {
	margin-top: 7px;
	margin-bottom: 7px;
}
#container_table{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 20%;
	text-align: center;
	border-collapse: collapse;
}
#container_table tr{
	background-color: black;
	color: white;
}
#container_table th {
  text-align: center;
}
#bay{
	position: absolute;
	top: 25%;
	left: 0px;
	width: 100%;
	height: 12%;
	font-size: 2vh;
}
#bay p{
	margin-top: 10px;
	margin-bottom: 5px;
}
#from_bay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1%;
	width: 30%;
	height: 100%;
	padding-left: 2%;
	padding-right: 2%;
	border: 1px solid black;
	margin-top: auto;
	margin-bottom: auto;
}
#arrow{
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 9%;
	left: 0px;
	right: 0px;
	margin: auto;
}
#to_bay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 1%;
	width: 30%;
	height: 100%;
	padding-left: 2%;
	padding-right: 2%;
	border: 1px solid black;
	margin-top: auto;
	margin-bottom: auto;
}
#negotiated_price{
	position: absolute;
	top: 38%;
	left: 0px;
	right: 0px;
	height: 22%;
	font-size: 2vh;
}
#negotiated_price p{
	margin-top: 5px;
}
#negotiated_price_left{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 1%;
	width: 30%;
	height: 85%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: auto;
	margin-bottom: auto;
}
#negotiated_price_right{
	position: absolute;
	top: 5%;
	bottom: 0px;
	right: 1%;
	width: 30%;
	height: 90%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: auto;
	margin-bottom: auto;
}
.container_table{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25%;
	font-size: 2vh;
	background-color: black;
	color: white;
}
.container_table_content{
	position: absolute;
	top: 25%;
	height: 75%;
	width: 100%;
	left: 0px;
	overflow-y: auto;
}
#container_table_content_child{
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
#container_table_content_child td{
	width: 50%;
}
.in_out_header{
	position: absolute;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 15%;
	background-color: black;
}
.in_out_header_child{
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 40%;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}
.in_out_header h3{
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	font-size: 2vh;
}
#in_out_content{
	position: absolute;
	top: 60%;
	left: 0px;
	height: 40%;
	width: 100%;
}
.in_out_content_child{
	position: absolute;
	top: 13%;
	height: 87%;
	width: 100%;
	padding-top: 2%;
}
#in_out_content p{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 4%;
	padding-right: 5%;
	font-size: 2vh;
}
#in_f{
	position: absolute;
	top: 0px;
	left: 0%;
	height: 100%;
	width: 40%;
}
#in_f_button{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #D2333F;
	color: white;
	z-index: 5;
}
#in_f_button:hover{
	opacity: 0.9;
}
#in_f_button:active{
	opacity: 0.8;
}
.in_f_child{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #D2333F;
}
.in_f1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #D2333F;
	z-index: 6;
	display: none;
}
.fakture_button{
	position: absolute;
	bottom: 7%;
	left: 2%;
	height: 15%;
	width: 96%;
	background-color: black;
	color: white;
	font-size: 1.5vh;
}
.fakture_button:hover{
	border: 5px solid black;
	background-color: white;
	color: black;
}
.fakture_button:active{
	border: 5px solid black;
	background-color: lightgray;
	color: black;
}
#out_f{
	position: absolute;
	top: 0px;
	right: 0%;
	height: 100%;
	width: 40%;
}
#out_f_button{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3CABB6;
	color: white;
}
#out_f_button:hover{
	opacity: 0.9;
}
#out_f_button:active{
	opacity: 0.8;
}
.out_f1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #3CABB6;
	display: none;
}
#button_tab{
	position: absolute;
	width: 100%;
	height: 5%;
	bottom: 2%;
	color: white;
}
#tab_button1{
	position: absolute;
	height: 100%;
	width: 30%;
	left: 2%;
	background-color: black;
}
#ulazi{
	position: absolute;
	height: 100%;
	width: 12.8%;
	left: 34%;
	background-color: black;
	border-right: 1px solid white;
}
#izlazi{
	position: absolute;
	height: 100%;
	width: 12.8%;
	left: 46.8%;
	background-color: black;
}
.tab_buttons{
	position: absolute;
	height: 100%;
	width: 12.8%;
	background: black;
	border-left: 1px solid white;
}
/*--------------------*/
#add_job_form{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 10;
}
#job_background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: gray;
	opacity: 0.5;
}
#job_form{
	position: absolute;
	top: 5%;
	left: 30%;
	right: 30%;
	bottom: 5%;
	background-color: white;
}
.form_header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 8%;
	width: 100%;
	background-color: black;
}
.form_content{
	position: absolute;
	top: 8%;
	height: 92%;
	width: 100%;
	background-color: #ededed;
	overflow: auto;
}
.div_input{
	position: absolute;
	top: 0.5%;
	left: 2%;
	width: 96%;
	height: 12%;
}
.div_input_h_p{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50%;
}
.div_input_h_p_child{
	position: absolute;
	width: 100%;
	height: 60%;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.div_input_h_p_child p{
	margin: 0px;
	font-size: 2.5vh;
}
.div_input_c{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50%;
}
.div_input_c_i{
	width: 100%;
	height: 100%;
	background: white;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 2vh;
}
.div_input_c_i::-webkit-input-placeholder {
   padding-left: 5px;
}

.div_input_c_i::-moz-placeholder {
    padding-left: 5px;
}
.div_input_c_i:-moz-placeholder {   /* Older versions of Firefox */
    padding-left: 5px;
}
.div_input_c_i:-ms-input-placeholder { 
    padding-left: 5px;
}
.div_input_c_i_p{
	width: 100%;
	height: 100%;
	background: white;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 2vh;
}
.div_input_c_i_p::-webkit-input-placeholder {
   padding-left: 5px;
}

.div_input_c_i_p::-moz-placeholder {
    padding-left: 5px;
}
.div_input_c_i_p:-moz-placeholder {   /* Older versions of Firefox */
    padding-left: 5px;
}
.div_input_c_i_p:-ms-input-placeholder { 
    padding-left: 5px;
}
/*===================*/
#inp_par{
	width: 49%;
	right: 0px;
}
#komitent{
	width: 50%;
}
.paritet_form{
	position: absolute;
	width: 49%;
	height: 100%;
	right: 0px;
	border: none;
	background-color: #f7f7f7;
	font-size: 2vh;
}
#inp_bl{
	top: 12.5%;
}
#inp_port_from{
	top: 25%;
}
#port_from_date_p{
	width: 49%;
	right: 0px;
}
#port_from_date_form{
	position: absolute;
	height: 100%;
	width: 49%;
	right: 0px;
	font-size: 2vh;
	border: none;
	background-color: #f7f7f7;
}
#port_from_form{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0px;
}
#port_to_form{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0px;
}
#inp_port_to{
	top: 37.5%;
}
#port_to_date_p{
	width: 49%;
	right: 0px;
}
#port_to_date_form{
	position: absolute;
	height: 100%;
	width: 49%;
	right: 0px;
	font-size: 2vh;
	border: none;
	background-color: #f7f7f7;
}
#neg_prices{
	top: 50%;
}
#neg_price_out_p{
	width: 49%;
	right: 0px;
}
#neg_price_in{
	position: absolute;
	width: 49.5%;
}
#neg_price_out{
	position: absolute;
	width: 49.5%;
	right: 0px;
}
#inp_provajderi{
	top: 62.5%;
}
#provajder_button{
	position: absolute;
	height: 100%;
	width: 49.5%;
	background-color: black;
	color: white;
}
#container_amount_p{
	width: 49%;
	right: 0px;
}
#container_amount_inp{
	position: absolute;
	width: 24%;
	height: 100%;
	background-color: white;
	left: 51%;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
#container_button{
	position: absolute;
	width: 25%;
	height: 100%;
	right: 0px;
	background-color: black;
	color: white;
}
#provajderi_div{
	position: absolute;
}
.provajderi_div{
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: #ededed;
	display: none;
	z-index: 10;
}
#provajderi_save{
	position: absolute;
	bottom: 2%;
	height: 6.5%;
	left: 2%;
	width: 47%;
	background-color: black;
	color: white;
}
#provajderi_otkazi{
	position: absolute;
	bottom: 2%;
	height: 6.5%;
	right: 2%;
	width: 47%;
	background-color: black;
	color: white;
}
#container_amount_div{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #ededed;
	display: none;
	z-index: 10;
}
#container_amount_div_child{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 94%;
	overflow-y: auto;
}
#container_amount_div_buttons{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 6%;
}
.container_form{
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0px;
	border: none;
	background-color: #f7f7f7;
	font-size: 2vh;
}
.container_input{
	width: 100%;
	height: 100%;
	background: white;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 2vh;
}
.container_button{
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: black;
	top: 0px;
	color: white;
}
.form_buttons{
	position: absolute;
	left: 2%;
	width: 96%;
	height: 6.25%;
	bottom: 2%;
}
.save_button{
	position: absolute;
	left: 0px;
	height: 100%;
	width: 91%;
	background-color: black;
	color: white;
}
.form_exit{
	position: absolute;
	height: 100%;
	width: 8%;
	right: 0px;
	background-color: red;
	color: white;
}
.form_in_form {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;
}
/*provajder-input*/
#form_provajder{
	display: none;
}
.prov_input{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 12.5%;

}
.prov_header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
}
.prov_input_place{
	position: absolute;
	bottom: 0px;
	height: 50%;
	width: 49.5%;
	background-color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;

}
#p_right{
	right: 0px;
}
.prov_header_child{
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 49.5%;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
.prov_header_child p {
	padding: 0px;
	margin: 0px;
	font-size: 2vh;
}
#pr2_right{
	right: 0px;
}
/*containe form*/
#container_form{
	display: none;
}
.containers_info{
	position: absolute;
	top: 1%;
	left: 2%;
	width: 96%;
	height: 30%;
}
.containers_id{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60%;
	height: 100%;
	border: none;
	padding: 0;
	outline: inherit;
	font-size: 2.5vh;
}
.container_right{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 40%;
}

.container_header{
	position: absolute;
	top: 20%;
	height: 20%;
	width: 100%;
}
.container_header_child{
	position: absolute;
	width: 100%;
	height: 40%;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}
.container_header_child p{
	margin: 0px;
	padding: 0px;
}
.container_type{
	position: absolute;
	top: 40%;
	width: 50%;
	height: 20%;
	left: 0px;
	right: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: red;
}
#select_container_type{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
/*--------forma za ulaznu fakturu---------*/
.ulaz_fartura_forma{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}
.ul_f_background{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: 0.5;
}
.ul_f_container{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 40%;
	height: 90%;
	margin: auto;
	background-color: white;
}
.ul_f_header{
	position: absolute;
	height: 8%;
	width: 100%;
	background-color: black;
}
.in_f_left{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 15%;
	height: 100%;
	border-right: 1px solid gray;
	color: white;
	cursor: pointer;
	z-index: 2;
}
.in_f_left:hover{
	background-color: #3f3f3f;
}
.in_f_left:active{
	background-color: #565656;
}
.in_f_right{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15%;
	height: 100%;
	border-left: 1px solid gray;
	color: white;
	z-index: 2;
}
.in_f_right:hover{
	background-color: #3f3f3f;
}
.in_f_right:active{
	background-color: #565656;
}
.ul_f_content{
	position: absolute;
	top: 8%;
	left: 0px;
	width: 100%;
	height: 92%;
	background-color: #ededed;
}
.ul_faktura{
	position: absolute;
	top: 0.5%;
	left: 2%;
	height: 12.5%;
	width: 96%;
}
.fakture_ulaz_header{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50%;
	width: 100%;
}
.fakture_ulaz_header_child{
	position: absolute;
	width: 99%;
	height: 40%;
	top: 0px;
	left: 1%;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.fakture_ulaz_header_child p{
	font-size: 2vh;
	margin: 0px;
}
.fakture_ulaz{
	position: absolute;
	border: none;
	height: 50%;
	width: 98%;
	bottom: 0px;
	font-size: 2vh;
	padding-left: 2%;
}
#ul_f_2{
	top: 12.5%;
}
#ul_f_3{
	top: 25%;
	width: 96%;
}
#ul_f_3 input[type="number"]{
	width: 47%;
	font-size: 2vh;
}
#valuta_fakture_izlaz{
	position: absolute;
	height: 50%;
	width: 49%;
	right: 0px;
	bottom: 0px;
	background-color: white;
}
#ul_f_4{
	top: 37.5%;
	width: 47%;
}
#iz_f_2{
	top: 12.5%;
}
#iz_f_3{
	top: 25%;
}