.bank-nav_bar{
	position: absolute;
	left: 5px;
	top: 5px;
	bottom: 5px;
	width: 11%;
	-moz-user-select: -moz-none;
  	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
  	user-select: none;
}
.bnb-card{
	position: absolute;
	width: 100%;
	height: 8%;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-size: 1vw;
	text-align: center;
	font-weight: bold;
}
.bnb-card_active{
	background-color: white;
	color: black;
}
.bnb-card:hover{
	opacity: 0.8;
}
.bnb-card:active{
	background-color: white;
	color: black;
}
.bnb-text_all{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 35%;
	width: 80%;
	margin: auto;
	bottom: 0px;
}
.bnb-text_all p{
	margin: 0px;
	padding: 0px;
}
.bnb-add_bank_button{
	background-color: red;
	border: 5px solid red;
	font-weight: 900 !important;
}





.test_color1{
	background-color: #338a3e;
	border: 5px solid #338a3e;
}
.test_color2{
	border: 5px solid red;
}
.test_position{
	top: 8.7%;
}
.test_position2{
	top: 17.3%;
}