.change_nalozi_data{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 3;
}
.cnd-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: gray;
	opacity: 0.5;
}
.cnd-content{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 25%;
	height: 45%;
	margin: auto;
	background-color: white;
	border-radius: 5px;
}
.cnd-header{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 10%;
	text-align: center;
	font-size: 1vw;
	color: gray;
}
.cnd-text{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 27%;
	text-align: center;
	font-size: 1vw;
	color: darkgray;
}
.cnd-option{
	position: absolute;
	bottom: 45%;
	left: 0px;
	right: 0px;
	height: 10%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
}
.cnd-option_child{
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: white;
}
.cnd-select{
	position: absolute;
	height: 100%;
	width: 100%;
	padding-left: 2%;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background-color: white;
    outline: none;
}
.cnd-input_field{
	position: absolute;
	height: 90%;
	width: 98%;
	padding-left: 2%;
    border:none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background-color: white;
}
.cnd-input{
	position: absolute;
	bottom: 30%;
	left: 0px;
	right: 0px;
	height: 10%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
}
.cnd-back_b{
	position: absolute;
	bottom: 15%;
	width: 29%;
	height: 10%;
	left: 20%;
	background-color: darkgray;
	color: white;
	border-radius: 2px;
}
.cnd-back_b:hover{
	opacity: 0.8;
}
.cnd-back_b:active{
	opacity: 0.7;
}
.cnd-save_b{
	position: absolute;
	bottom: 15%;
	width: 29%;
	height: 10%;
	right: 20%;
	background-color: #CF5D4C;
	color: white;
	border-radius: 2px
}
.cnd-save_b:hover{
	opacity: 0.8;
}
.cnd-save_b:active{
	opacity: 0.7;
}