#form_provajder{
	display: none;
}
#form_provajder_con{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 25%;
	height: 45%;
	margin: auto;
	background-color: white;
	border-radius: 5px;
}
.prv-header{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 10%;
	text-align: center;
	font-size: 1vw;
	color: gray;
}
.prv-text{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 27%;
	text-align: center;
	font-size: 1vw;
	color: darkgray;
}
.prv-input_name{
	position: absolute;
	bottom: 45%;
	left: 0px;
	right: 0px;
	height: 10%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
	font-size: 1vw;
}
.prv-option_child{
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: white;
	font-size: 1vw;
}
.prv-text_name{
	position: absolute;
	height: 90%;
	width: 98%;
	padding-left: 2%;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background-color: white;
    outline: none;
}
.prv-input_other{
	position: absolute;
	bottom: 30%;
	left: 0px;
	right: 0px;
	height: 10%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightblue;
}
.prv-option_child_other1{
	position: absolute;
	top: 2px;
	left: 2px;
	width: 46.5%;
	bottom: 2px;
	background-color: white;
	font-size: 1vw;
}
.prv-option_child_other2{
	position: absolute;
	top: 2px;
	width: 46.5%;
	right: 2px;
	bottom: 2px;
	background-color: white;
	font-size: 1vw;
}
.prv-fake_background{
	position: absolute;
	height: 100%;
	width: 3%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.prv-input_option{
	position: absolute;
	height: 100%;
	width: 100%;
	padding-left: 2%;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background-color: white;
    outline: none;
}
.prv-back_b{
	position: absolute;
	bottom: 15%;
	width: 29%;
	height: 10%;
	left: 20%;
	background-color: darkgray;
	color: white;
	border-radius: 2px;
	font-size: 1vw;
}
.prv-back_b:hover{
	opacity: 0.8;
}
.prv-back_b:active{
	opacity: 0.7;
}
.prv-save_b{
	position: absolute;
	bottom: 15%;
	width: 29%;
	height: 10%;
	right: 20%;
	background-color: #CF5D4C;
	color: white;
	border-radius: 2px;
	font-size: 1vw;
}
.prv-save_b:hover{
	opacity: 0.8;
}
.prv-save_b:active{
	opacity: 0.7;
}